#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
table {
  margin: 15px;
}

th {
  padding: 20px;
  font-size: 50px;
}
#selectName {
  font-size: large;
  border: 2px solid antiquewhite;
  margin: 10px;
}
td {
  border: 1px solid antiquewhite;
  padding: 10px;
}
#name:hover {
  color: #646cff;
}
tfoot {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
}
